.moreContainer {
    position:relative;
    min-height: 100vh;
    display: flex;
    align-items: center;
    justify-content: center;
    width: 100%;
    background-color: #fff;

    p {
        font-weight: 500;
        margin-left: 50px;
        width: 50%;

        @media (max-width: 768px) {
            width: 80%;
            margin: 40px 0;
        }
    }
    a {
        color: #a66969;
        text-decoration: none;
        font-weight: 500;
    }
    a:hover {
        color: #6b4c4c;
        text-decoration: underline;

    }

    .headshot {
        width: 20%;
        object-fit: cover;
        border-radius: 50%;
        border: 0.8px solid #393838;
        
        @media (max-width: 768px) {
            width: 30vw;
        }
        
        
    }
    @media (max-width: 768px) {
        margin: 40px 0;
        flex-direction: column;
    }
}

